.navbar-fixed {
  position: fixed;
  top: 70px; /* Adjust this to match header height */
  left: 0;
  width: 100%;
  z-index: 1040;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #0b559e;
    padding: 1rem;
  }

  .nav-link {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}
 
